<h1 class="mainthemeExtra">THIS IS MY DATABASE</h1>
<h2 class="maintheme">A way for me to keep track of the places I have been, and when</h2>
<h3 class="maintheme">(And also a way to practice web development)</h3>

<br>
<br>
<br>
<br>

<h3 class = "industrial"><font size="60">Regions: </font></h3>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="column">

        <% @regions.each do |region| %>
          <h4><%= link_to region.name.capitalize, "/regions/#{region.name}" %> </h4>
          <img src="<%=region.image_url %>" alt="<%= region.name %>" width = 300>
          <p class = "mainthick"><%= region.begDate %> - <%= region.endDate %></p>
          <a href="/<%=region.name%>/edit" class = "btn btn-primary">View</a>
          <a href="/<%=region.name%>/edit" class = "btn btn-warning">Edit</a>
          <a href="/destroy_region/<%=region.name.downcase %>" class = "btn btn-danger">Destroy</a>
          <br>
          <br>
          <br>
            <br>
        <%end%>

      <a href="/new_region" class = "btn btn-success">+ Add a Region</a>
      <br>
      <br>
      <p class = "writings">In recalling all of the places i've been to, memories inevitably spring back, in rich detail that I want to more fully describe...</p>
      <p class = "writings">At some point, this database will be accompanied by my writing, and be formed into something of a blog.  But for now, this will have to do.</p>

    </div>
  </div>

</div>


<br>
<br>
<br>
