<br><br>
<div class="container ">
  <div class="row"> <br>
    <div class="col">
      <h1>REGIONS_ASE</h1>

      <p class="regions_b">A Project for Keeping Track of Where I've Been, and When<p>
    </div>
  </div> <br>

  <div class="row background_b ">
    <div class="col">
      <h3 class = "regions"> <%=@regions.count.to_s %> Regions  &nbsp; | &nbsp; <%= @years %> Years &nbsp; | &nbsp; <%=@days %> Days </h3>
    </div>
  </div> <br>

  <% @regions.each do |region| %>
    <div class="row row-bottomborder">
      <div class="col-md-11 offset-md-1 margin-b">
        <div class="media">
          <div class="media-left media-top">
            <h3 class = "media-heading"><a href="regions/<%=region.name%>"> <%= region.name.titleize %> </h3>

              <!-- <%= link_to image_tag(region.image.url, class: 'media-object'), region.image.url, target: '_blank' %> -->
              <img src="<%=region.image_url %>" alt="<%= region.name %>" width = 350 >
            </a>
            <p class = "date" align = "center"><%= region.begDate %>  &nbsp; -  &nbsp;  <%= region.endDate %></p>
            <a href="regions/<%=region.name%>" class = "btn btn-primary btn-block">View Locations Visited</a>  &nbsp;


            <% if logged_in? %>
              <div align="center">
                <a href="/<%=region.name%>/edit" class = "btn btn-warning btn-sm">Edit</a> &nbsp;
                <a href="/destroy_warning/<%=region.name.downcase%>" class = "btn btn-danger  btn-sm">Destroy</a>
              </div>
            <% end %>


          </div>
          <div align = "left" class="media-body margin-a writings-fp">
            <br>
            <div class=" col-md-3">
              <p class = "data"><%= region.locations.count %> Locations</p>
            </div> <br>
            <!-- <div class=" col-md-3">
              <p class = "data"><% region.locations.each do |l|%>
                <%=l.nearest_area%> </p> <% end %>
            </div> <br> -->
            <%= region.description %>

          </div>
        </div>
      </div>

    </div>
    <br>
  <% end %>
  <% if logged_in? %>
    <a href="/new_region" class = "btn btn-success btn-lg btn-add">+ Add a Region</a> <br><br>
  <% end %>
  <p class = "writings" >This database will soon be accompanied by my writing, and be formed into something of a blog.  But for now, this will have to do.</p>
</div>
<br>
  <br>
  <br>
