<br>
<div class="page-header">
  <h2>Edit Region: <%= @region.name.titleize %></h2>

</div>
<br>
<br>
<div class="container">
  <form class="form-custom" action="/update_region/<%=@region.name%>">
    <div class="form-group">
      <label for="name" class = "form-labels form-cells">Name</label>
      <input type="text" class = "form-control form-cells" id="name" name="name" value="<%= @region.name.titleize%>">
    </div>

    <div class="form-group">
      <label for="image_url" class = "form-labels form-cells">Image URL</label>
      <input type="text" class = "form-control form-cells" id = "image_url" name="image_url" value="<%= @region.image_url%>">
    </div>

    <div class="form-group">
      <label for="begDate" class = "form-labels">Beginning Date of Trip</label>
      <input type="date" class = "form-control form-cells" id = "begDate" name="begDate" value="<%= @region.begDate%>">
    </div>

    <div class="form-group">
      <label for="endDate" class = "form-labels">End Date of Trip</label>
      <input type="date" class = "form-control form-cells" id = "endDate" name="endDate" value="<%=@region.endDate%>">
    </div>

    <div class="form-group">
      <label for="description" class = "form-labels">Description</label>
      <input type="text" size = "150" class = "form-control form-cells" id="description" name="description" value="<%= @region.description%>"> <br>
    <input type="submit" class = "btn form-labels">
  </form>
</div>
