<br>
<h1 class = "mainthemeExtra"><%= @region.name.titleize %></h1>
<img class = "photo" src="<%=@region.image_url %>" alt="<%=@region.name %>" width = 160>
<p class = "mainthick" align = "center"><%= @region.begDate %> - <%= @region.endDate %></p>
<br>
  <br>
    <br>

<a href="/regions" class = "btn btn-primary">Back to Home</a>
<br>
<br>
<% @locations.each do |location| %>
  <% if location.region_id.to_s.downcase == @region.name.downcase %>
      <div class="media">
        <div class="media-left">
          <a href="/regions/<%=@region.name%>/<%=location.id%>">

            <img class="media-object" src="<%=location.image_url%>" alt="..." width = 400>
        </div>
            <div class="media-body">
              <h4 class="media-heading">|    <%=location.caption %> </a></h4>
                <p>|    <b>Date Visited:</b>   <%= location.date %>  |
                  <!-- <%if location.nearest_area != nil %>
                    <b>Near Area:</b> <%= location.nearest_area %>
                  <%end%> -->
                </p>
                <br>
                |Description goes here
            </div>
      </div>
      <br>
      <a href="/regions/<%=@region.name%>/<%=location.id%>" class = "btn btn-primary">View</a>
      <a href="/<%=@region.name%>/<%=location.id%>/edit" class = "btn btn-warning">Edit</a>
      <a href="/<%=@region.name%>/destroy_warning/<%=location.id%>" class = "btn btn-danger">Destroy</a>
                      <br>
                      <br>
                      <br>


    <% else if location.region_id == nil %>
      <a href="/<%=@region.name%>/<%=location.id%>/edit" class = "btn btn-danger">There is a location with an invalid region ID :(</a>
    <%end%>

  <%end%>
<%end%>
<br>
<br>
  <a href="/<%= @region.name %>/new_location" class = "btn btn-success">+ Add a Location Visited in <%= @region.name.capitalize %> </a>
<br>
<br>
