<br>
<h1 class = "mainthemeExtra"><%= @region.name.titleize %></h1>
<img class = "photo" src="<%=@region.image_url %>" alt="<%=@region.name %>" width = 180>
<p class = "mainthick" align = "center"><%= @region.begDate %> -- <%= @region.endDate %></p>
<br>
  <br>
    <br>

<% @locations.each do |location| %>
  <% if location.region_id.downcase == @region.name.downcase %>
    <div class="container">
      <div class="row">
        <div class="column">

          <h3 class = "industrial"><%=location.caption %></h3>
          <br>
          <img class = "photo" src="<%=location.image_url%>" alt="<%=location.caption%>" width = 350 >
          <br>
          <p align = "center" class = "mainthick"><%= location.date %></p>
          <br>
          <p align = "center">
            <a href="/regions/<%=@region.name%>/<%=location.id%>" class = "btn btn-primary">View</a>
            <a href="/<%=@region.name%>/<%=location.id%>/edit" class = "btn btn-warning">Edit</a>
            <a href="/<%=@region.name%>/destroy_warning/<%=location.id%>" class = "btn btn-danger">Destroy</a>
          </p>
          <br>
            <br>
              <br>
        </div>
      </div>
    </div>
  <%end%>
<%end%>\
<br>
  <a href="/<%= @region.name %>/new_location" class = "btn btn-success">+ Add a Location Vistied in <%= @region.name.capitalize %> </a>


<!--


<h1 class = "industrial">Region: <%= @region.name.titleize %></h1>
<img src="<%=@region.image_url %>" alt="<%=@region.name %>" width = 500>
<br>
<p class = "mainthick"><%= @region.begDate %> - <%= @region.endDate %></p>
<br>
<a href="/<%=@region.name%>/edit">Edit</a>
<a href="/destroy_region/<%= @region.name.downcase %>">Destroy</a>
<br>
<br>
<h4 class = "maintheme">
  <button type="button" class= class="btn btn-primary btn-lg">
    <a href="/regions/<%= @region.name %>/locations">+ See Locations Visited in <%= @region.name.capitalize%></a>
  </button>
</h4>

 -->
