<br>
<h1 class = "mainthemeExtra"><%= @region.name.titleize %></h1>
<img class = "photo" src="<%=@region.image_url %>" alt="<%=@region.name %>" width = 160>
<p class = "mainthick" align = "center"><%= @region.begDate %> -- <%= @region.endDate %></p>
<br>
  <br>
    <br>

<a href="/regions" class = "btn btn-primary">Back to Home</a>
<br>
<br>
<% @locations.each do |location| %>
  <% if location.region_id.downcase == @region.name.downcase %>
    <div class="container">
      <div class="row">
        <div class="column">

          <h3 class = "industrial"><%=location.caption %></h3>
          <p align = "center"><%= location.city_or_CMA %></p></p>
          <img class = "photo" src="<%=location.image_url%>" alt="<%=location.caption%>" width = 350 >
          <br>
          <p align = "center" class = "mainthick"><%= location.date %> </p>
          <br>
          <p align = "center">
            <a href="/regions/<%=@region.name%>/<%=location.id%>" class = "btn btn-primary">View</a>
            <a href="/<%=@region.name%>/<%=location.id%>/edit" class = "btn btn-warning">Edit</a>
            <a href="/<%=@region.name%>/destroy_warning/<%=location.id%>" class = "btn btn-danger">Destroy</a>
          </p>
          <br>
            <br>
              <br>
        </div>
      </div>
    </div>
  <%end%>
<%end%>\





<br>
  <a href="/<%= @region.name %>/new_location" class = "btn btn-success">+ Add a Location Visited in <%= @region.name.capitalize %> </a>
  <br>
  <br>
