<br>
<div class="container">
  <div class="page-header">

      <h2><%= @region.name.titleize %></h2>
      <img class = "small" src="<%=@region.image_url %>" alt="<%=@region.name %>" >
      <p class = "date" align = "center"><%= @region.begDate %> - <%= @region.endDate %></p> <br>
  </div>
</div>

<div class="container">
  <div class="row background_b">
    <div class="col">
      <h3 class = "regions"> <%=@locations.count.to_s %> Locations </h3>
    </div>
  </div> <br>
    <!-- <a href="/" class = "btn btn-primary btn-lg">Back to Home</a> <br> -->
    <% @locations.in_groups_of(2) do |row| %>
      <div class="row row-bottomborder">
        <% row.each do |l|%>
          <div class="col item-wrapper custom-wrapper">
            <%if l %>
                <a href="/regions/<%=@region.name%>/<%=l.id%>">
                <h4 class="">   <%=l.caption.titleize %>       </h4>
                <img src="<%=l.image_url%>" class="rounded" alt="..." width = 400 >
                </a>
              <p><b>Date Visited:</b>   <%= l.date %> &nbsp; | &nbsp; <b>Near:</b> <%= l.nearest_area %></p>
              <a href="/regions/<%=@region.name%>/<%=l.id%>" class = "btn btn-primary">View Details</a>
              <a href="/<%=@region.name%>/<%=l.id%>/edit" class = "btn btn-warning">Edit</a>
              <a href="/<%=@region.name%>/destroy_warning/<%=l.id%>" class = "btn btn-danger">Destroy</a>
            <%end%>
          </div>
        <%end%>
      </div>
    <%end%>
    <!-- <% if @locations == nil %>
      <h1>There are no locations associated with this region...yet!</h1>
    <%end%> -->
   <br> <br>
<footer>  <a href="/<%= @region.name %>/new_location" class = "btn btn-success btn-lg btn-block btn-add ">+ Add a Location Visited in <%= @region.name.titleize %> </a>
</footer>

</div>
<br><br><br><br>
