<h1 class = "industrial">Region: <%= @region.name.titleize %></h1>
<img src="<%=@region.image_url %>" alt="<%=@region.name %>" width = 500>
<br>
<p class = "mainthick"><%= @region.begDate %> -- <%= @region.endDate %></p>
<br>

<!-- BUTTONS -->
<a href="/<%=@region.name%>/edit">Edit</a>
<a href="/destroy_region/<%= @region.name.downcase %>">Destroy</a>
<br>
<br>
