<!-- <div class="container">
  <%= form_for @region do |r|%>

    <div class="form-group">
      <%=r.label :name %>
      <%=r.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=r.label :image_url %>
      <%=r.text_field :image_url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=r.label :begDate %>
      <%=r.date_field :begDate, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=r.label :endDate %>
      <%=r.date_field :endDate, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=r.label :description %>
      <%=r.text_field :description, :size => 150, class: 'form-control' %>
    </div>

    <%= r.submit 'Submit', class: 'btn btn-primary' %>

  <%end%>
</div> -->





<h3 class = "industrial"><%=location.caption %></h3>
<p align = "center"><b>Near Area:</b> <%= location.nearest_area %></p></p>
<img class = "photo" src="<%=location.image_url%>" alt="<%=location.caption%>" width = 350 >
<br>
<p align = "center" class = "mainthick"><%= location.date %> </p>
<br>
<p align = "center">
  <a href="/regions/<%=@region.name%>/<%=location.id%>" class = "btn btn-primary">View</a>
  <a href="/<%=@region.name%>/<%=location.id%>/edit" class = "btn btn-warning">Edit</a>
  <a href="/<%=@region.name%>/destroy_warning/<%=location.id%>" class = "btn btn-danger">Destroy</a>
</p>



<!-- <form class="" action="/create_region" >
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="">
  <label for="image_url">Image URL</label>
  <input type="text" id = "image_url" name="image_url" value="">
  <label for="image">Image</label>
  <%= file_field :image, class: 'form control' %>
  <label for="begDate">Beginning Date of Trip</label>
  <input type="date" id = "begDate" name="begDate" value="">
  <label for="endDate">End Date of Trip</label>
  <input type="date" id = "endDate" name="endDate" value="">
  <input type="submit" class = 'btn btn-primary'>
</form>


<%= form_for @photo do |f| %>
  <%= render 'shared/errors', object: @photo %>

  <div class="form-group">
    <%= r.label :title %>
    <%= r.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= r.label :image %>
    <%= r.file_field :image, class: 'form-control'%>
  </div>

  <%= r.submit 'Upload', class: 'btn btn-primary' %>
<% end %> -->



<br>
<div class = "page-header"><h1 class ="maintheme">Add a New Region</h1></div>
<br>
<br>
<form class="" action="/create_region" >
<%= form_for @region do |r| %>

  <div class="form-group">
    <%= r.label :name %>
    <%= r.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= r.label :image_url %>
    <%= r.text_field :image_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= r.label :image %>
    <%= r.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= r.label :begDate %>
    <%= r.date_field :begDate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= r.label :endDate %>
    <%= r.date_field :endDate, class: "form-control" %>
  </div>

  <%= r.submit 'Upload', class: 'btn btn-primary' %>
<% end %>
</form>





class RegionsController < ApplicationController

#HOME

  def home
    @regions = Region.order('begDate')
    render('!home.html.erb')
  end

#REGIONS

  def show
    @regions = Region.all
    @region = Region.find_by(name: params['name'])
    @locations = Location.order('date')
    render('show.html.erb')
  end

  def new
    @region = Region.new
    render('new.html.erb')
  end

  def create
    @region = Region.new(region_params)
    @region.save
      # flash[:success] = "The region was added!"
    redirect_to("/regions")


  end

  def edit
    @region = Region.find_by(name: params['name'])
    render('edit.html.erb')
  end

  def update
    region = Region.find_by(name: params['name'])
    region.name = params['name']
    region.image_url = params['image_url']
    region.begDate = params['begDate']
    region.endDate = params['endDate']
    region.save
    redirect_to"/regions"
  end

  def warning
    @region = Region.find_by(name: params['name'])
    render("warning.html.erb")
  end

  def destroy
    region = Region.find_by(name: params['name'])
    region.destroy
    redirect_to("/regions")
  end

  private

  def region_params
    params.require(:region).permit(:name, :image_url, :image, :begDate, :endDate)
  end

end




<!-- <%if location.region_id == nil %>
  <a href="/<%=@region.name%>/<%=location.id%>/edit" class = "btn btn-danger">There is a location with an invalid region ID :(</a>
<%end%> -->
