<br>
<h1 class = "maintheme">Add a New Location</h1>
<br>
<br>
<form class="" action="/<%= @region.name %>/create_location" >
  <label for="name">Caption: </label>
  <input type="text" id="caption" name="caption" value="">

  <label for="region_id">Region: </label>
  <select name ="region_id" id = "region_id">
    <option selected><%= @region.name.to_s.capitalize %></option>
      <% @regions.each do |r| %>
        <option type = "text" id ="region_id" value="<%= r.name.to_s %>"><%= r.name.capitalize %> </option>

      <% end %>
  </select>


  <label for="image_url">Image URL: </label>
  <input type="text" id = "image_url" name="image_url" value="">
  <label for="date">Date Visited: </label>
  <input type="date" id = "date" name="date" value="">
  <label for="nearest_area">Nearest Area (Neighborhood, Town, City):</label>
  <input type="text" id = "nearest_area" name="nearest_area" value="">
  <input type="submit">
</form>



<!-- <label for="name">Region</label>
<input type="text" id="region_id" name="region_id" value=""> -->

<!-- disabled selected><%= @region.name.capitalize %> -->
