<br>
<h1 class = "industrial">Location: <%= @location.caption.titleize %></h1>
<br>
<img class = "photo" src="<%=@location.image_url %>" alt="<%=@location.caption %>" width = 500>
<br>
<p align = "center" class = "mainthick">Date Visited:  <%= @location.date %></p>
<br>
<p align = "center">Nearest Area (Neighborhood, Town, City): <%= @location.nearest_area %></p>
<br>
<br>
<a href="/regions/<%=@region.name%>" class = "btn btn-primary">Back to <%=@region.name%></a>
<br>
<br>
