<br>
<h1 class = "industrial">Location: <%= @location.caption.titleize %></h1>
<br>
<img class = "photo" src="<%=@location.image_url %>" alt="<%=@location.caption %>" width = 700>
<br>
<p align = "center" class = "mainthick">Date Visited:  <%= @location.date %></p>
<p align = "center">City / Nearest CMA: <%= @location.city_or_CMA %></p>



<!-- BUTTONS -->
