<h1>Region: <%= @location.capiton.capitalize %></h1>
<img src="<%=@location.image_url %>" alt="<%=@location.name %>" width = 500>
<br>
<p class = "mainthick"><%= @location.date %></p>
<br>
<!-- BUTTONS -->
<a href="/<%=@location.caption%>/edit">Edit</a>
<a href="/destroy_location/<%= @location.caption.downcase %>">Destroy</a>
